* {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px 0px 50px;
    font-family: 'Raleway', sans-serif;
}

main {
    max-width: 100%;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    color: #000000;
    text-decoration: none;
}

.logo {
    height: 35%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navigationbuttonbloc {
    display: flex;
    height: 100%;
    width: 20%;
}

.navbutton {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbutton:hover {
    color: #0065fc;
    border-color: #0065fc;
    border-top: solid 2px;
    cursor: default;
}

.hidden {
    display: none;
}

.info_titre {
    margin-top: 2%;
}

.searchform {
    height: 65px;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.searchicon {
    background-color: #d9d9d9;
    border-radius: 15px 0px 0px 15px;
    height: 70%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.researchinput {
    height: 70%;
    width: 53%;
    border: 1px solid #F2F2F2;
    padding-left: 3%;
}

.researchinput::placeholder {
    font-weight: 700;
    opacity: 1;
    font-size: 1.1em;
}

.researchbutton {
    color: #ffffff;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    height: 70%;
    width: 33%;
    border: 1px solid;
}

.researchicon {
    display: none;
}



.button_filters {
    display: flex;
    align-items: center;
    gap: 4%;
}

.filters {
    display: flex;
    gap: 5%;
}

.filtre {
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 2px;
    border-color: #d9d9d9;
    border-radius: 25px;
    font-size: 1.1em;
    padding: 0.5em;
    padding-right: 2em;
    padding-left: 1em;
    gap: 5%;
}

.filtre:hover {
    background-color: #deebff;
}

.filtreicon {
    color: #0065fc;
    margin-right: 5%;
}

.filtretext {
    white-space: nowrap;
}

.infonombrelogement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.infoicon {
    border: #d9d9d9 solid;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #0065fc;
}

.hebergement {
    display: flex;
    justify-content: space-between;
}

.locationdeuxiemebloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.textehebergement {
    margin-left: 5%;
}

.star {
    margin-left: 5%;
    color: #0065fc;
}

.greystar {
    color: #d9d9d9;
}

.titrelocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
}

.locations {
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 66%;
    padding-left: 2%;
    padding-right: 2%;
}

.bloclocation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
}

.location {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
    height: 40%;
}

.imagelocation {
    border-radius: 20px 20px 0px 0px;
    width: 96%;
    height: 60%;
    object-fit: cover;
    margin: 2%;
}

.lienpourresultatsupplementaire {
    color: #000000;
    font-size: 1.1em;
    font-weight: 900;
}

.populaires {
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 31%;
    padding-left: 2%;
    padding-right: 2%;
}

.titrepopulaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-bottom: 2%;
}

.icongraphpopulaire {
    color: #0065fc;
}

.blocpopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.populaire {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 90%;
    height: 30%;
    padding-right: 3%;
    color: #000000;
}

.imagepopulaire {
    border-radius: 20px 0px 0px 20px;
    width: 35%;
    height: 100%;
    object-fit: cover;
    margin: 1.5%;
}

.populairedeuxiemebloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 65%;
}

.titreactivite {
    margin-top: 4%;
    margin-bottom: 2%;
}

.blocactivite {
    display: flex;
    justify-content: space-between;
}

.activite {
    width: 23%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.imageactivite {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activitetitre {
    height: 15%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 5px 5px #d9d9d9;
}

footer {
    display: flex;
    background-color: #d9d9d9;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    padding: 5%;
}

.listefooter {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

.titrelistefooter {
    margin-bottom: 8%;
}

.lienfooter {
    color: #000000;
}

@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }

    nav {
        flex-direction: column;
        height: 150px;

    }

    .logo {
        padding-top: 3%;
        width: 20%;
        height: auto;
    }

    .navigationbuttonbloc {
        width: 100%;
    }

    .navbutton {
        align-self: flex-end;
        padding-bottom: 5%;
        border-bottom: #d9d9d9 solid 3px;
    }

    .navbutton:hover{
        color: #0065fc;
        border-color:#0065fc;
        border-top: 0;
    }

    .info_titre {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .headertext {
        margin-top: 2%;
    }

    .searchform {
        height: 80px;
        width: 100%;
        padding-left: 2.5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .researchbutton {
        display: none;
    }

    .researchinput {
        width: 70%;
    }

    .researchicon {
        display: inline;
        color: #ffffff;
        background-color: #0065fc;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid;
        height: 70%;
        width: 15%;
    }

    .button_filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .filters {
        height: 100%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .filtre {
        width: 47%;
        height: 35%;
        padding: 0;
    }

    .filtreicon {
        margin-right: 2%;
        margin-left: 5%;

    }

    .filtretext {
        font-size: 0.75em;
        font-weight: bold;
    }

    .infonombrelogement {
        width: 90%;
        margin: 5%;
    }

    .hebergement {
        height: fit-content;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .locations {
        margin-top: 20px;
        width: 100%;
        background-color: white;
        border-radius: 0;
        height: 1500px;
    }

    .titrelocation {
        height: 4%;
        padding-left: 2%;
    }

    .bloclocation {
        height: 94%;
    }

    .location {
        width: 95%;
        height: 15%;
        margin-top: 1%;
        box-shadow: 5px 5px 5px 5px #d9d9d9;
    }

    .lienpourresultatsupplementaire {
        display: none;
    }

    .populaires {
        width: 100%;
        border-radius: 0;
        height: 685px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .populaire {
        width: 99%;
        height: 32%;
    }

    .activites {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-bottom: 20%;
        margin-top: 20%;
    }

    .blocactivite {
        justify-self: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .activite {
        width: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .imageactivite {
        height: 150px;
    }

    .titreactivite{
        white-space: pre;
    }

    .activitetitre {
        height: 50px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .titrelistefooter{
        margin-bottom: 10px;
    }

    .listefooter {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    body {
        width: 100%;
    }

    .logo {
        height: 20%;
    }

    .navigationbuttonbloc {
        width: 30%;
    }

    .navbutton{
        font-size: 0.8em;
    }

    .boutonhebergement {
        justify-content: flex-start;
    }

    .boutonactivite {
        justify-content: flex-end;
    }

    .button_filters{
        gap: 2%;
    }

    .filters{
        gap: 2%;
    }

    .titrefiltre{
        font-size: 1em;
    }

    .filtre{
        font-size: 0.95em;
        font-weight: bold;
    }

    .searchform {
        width: 50%;
    }

    .hebergement {
        flex-direction: column;
        gap: 10px;
    }

    .locations {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .blocpopulaire {
        flex-direction: row;
    }


}